<extend name="Common:resumepost_frame" />
<block name="title"><title>高顿实习-企业个人中心</title></block>
<block name="right">
    <div class="col-md-9">
        <div class="fail-resume-right">
            <div class="resume-right-top">
                <p>学生已拒绝</p>
                <i></i>
                <a href=""><img src="static/images/enterprise-practice/refresh.png"> <span>刷新</span></a>
            </div>

            <div class="invitation-resume-list">
                <div class="student"><a href="">杨雪雁</a></div>
                <div class="name"><a href="">投资管理实习(金融)</a></div>
                <div class="state"><p>已拒绝</p></div>
                <div class="date"><p>2015-04-07 拒绝时间</p></div>
            </div>


            <div class="invitation-resume-list">
                <div class="student"><a href="">杨雪雁</a></div>
                <div class="name"><a href="">投资管理实习(金融)</a></div>
                <div class="state"><p>已拒绝</p></div>
                <div class="date"><p>2015-04-07 拒绝时间</p></div>
            </div>


            <div class="invitation-resume-list">
                <div class="student"><a href="">杨雪雁</a></div>
                <div class="name"><a href="">投资管理实习(金融)</a></div>
                <div class="state"><p>已拒绝</p></div>
                <div class="date"><p>2015-04-07 拒绝时间</p></div>
            </div>


            <div class="invitation-resume-list">
                <div class="student"><a href="">杨雪雁</a></div>
                <div class="name"><a href="">投资管理实习(金融)</a></div>
                <div class="state"><p>已拒绝</p></div>
                <div class="date"><p>2015-04-07 拒绝时间</p></div>
            </div>

            <div class="invitation-resume-list">
                <div class="student"><a href="">杨雪雁</a></div>
                <div class="name"><a href="">投资管理实习(金融)</a></div>
                <div class="state"><p>已拒绝</p></div>
                <div class="date"><p>2015-04-07 拒绝时间</p></div>
            </div>

            <div class="invitation-resume-list">
                <div class="student"><a href="">杨雪雁</a></div>
                <div class="name"><a href="">投资管理实习(金融)</a></div>
                <div class="state"><p>已拒绝</p></div>
                <div class="date"><p>2015-04-07 拒绝时间</p></div>
            </div>

            <div class="invitation-resume-list">
                <div class="student"><a href="">杨雪雁</a></div>
                <div class="name"><a href="">投资管理实习(金融)</a></div>
                <div class="state"><p>已拒绝</p></div>
                <div class="date"><p>2015-04-07 拒绝时间</p></div>
            </div>



            <!--分页按钮-->
            <div class="page-list">
                <span>上一页</span>
                <span class="page-list-active">1</span>
                <span>2</span>
                <span>3</span>
                <span>4</span>
                <span>5</span>
                <span class="point">...</span>
                <span>99</span>
                <span>下一页</span>
            </div>
        </div>


    </div>
</block>

<block name="script">
    <script type="text/javascript">
        jQuery(document).ready(function($){
            $('#v-refuse').addClass('resume-active');
        });

    </script>
</block>


