<extend name="Public/layout" />
<block name="title"><title>高顿实习-上传头像</title></block>
<block name="style">    
    <link rel="stylesheet" href="__PUBLIC__/static/core/css/xenon-forms.css">
    <link rel="stylesheet" href="__PUBLIC__/static/core/css/xenon-components.css">
    <link rel="stylesheet" href="__PUBLIC__/static/core/css/xenon-skins.css">
    <link rel="stylesheet" href="__PUBLIC__/static/css/jquery.circliful.css">
    <link rel="stylesheet" href="__PUBLIC__/static/core/js/cropper/cropper.min.css">
	<link rel="stylesheet" href="__PUBLIC__/static/core/js/dropzone/css/dropzone.css">
	<style>
    .photomodify{
        position:absolute;
        left:50%;
        margin-left:-180px;
        top:150px;
        z-index:1002;
    }
    .md-overlay2 {width: 100%;height: 100%;display: none;top: 0;left: 0;z-index: 1000;}
    .background-color{
        background: rgba(0,0,0,0.6);
        position:fixed;
    }
    .photo_form{
        width:354px;
        padding:0px;
        height:293px;

    }
    .photomodify h1{
        line-height: 50px;
        color:#ffffff;
        background:#57d5e4;
        font-size:24px;
        margin:0px;
    }
    .photomodify h1 span{
        margin-left:25px;

    }
    .button-small{
        height:32px;
        width:80px;
        font-size:16px;
        padding:0px;
    }
    .photomodify_footer{
        text-align:center;
        background:#ffffff;
        padding-bottom:10px;
    }
    .img-container{
        margin-bottom: 0px;

    }
    .perfect-file-button{line-height: 60px;padding: 0}
    .apperance {display: block;}
</style>
</block>
<block name="script">
    <script src="__PUBLIC__/static/js/jquery.circliful.js"></script>
    <script src="__PUBLIC__/static/js/common.js"></script>
	<script src="__PUBLIC__/static/core/js/TweenMax.min.js"></script>
	<script src="__PUBLIC__/static/core/js/resizeable.js"></script>
	<script src="__PUBLIC__/static/core/js/joinable.js"></script>
	<script src="__PUBLIC__/static/core/js/cropper/cropper.min.js"></script>
	<script src="__PUBLIC__/static/core/js/jquery-ui/jquery-ui.min.js"></script>
	<script src="__PUBLIC__/static/core/js/ajaxupload.js"></script>
	<script src="__PUBLIC__/static/core/js/upload.js"></script>
</block>
<block name="content">
<div class="center-content">
    <!--       中间部分右区-->
    <div class="row">
        <div class="col-md-9">
            <div class="left-section">
                <div class="container">
                    <div class="upphoto-area">
                        <img  id="upload"  class="droppable-area up-photo" src="<notempty name='headpic'>{$headpic}<else/>__PUBLIC__/static/images/nophoto_student.png</notempty>">
                    </div>
                    <a class="btn btn-info confirm-button perfect-file-button" data-role="button" href="/Student/index">完善资料</a>
                </div>
            </div>
        </div>
        <!--       中间部分左区-->
        <div class="col-md-3">
            <div class="right-section">
				<include file="menu" />
                <div class="right-section-style complete-circle">
                    <h3>简历完整度<span style="float:right;">预览简历</span></h3>
		             <div id="complete-circle">
		             </div>
                </div>

            </div>
        </div>
    </div>
</div>
<script>
$(function(){
     $.get('/Student/resume_rate',function(data){
        $('#complete-circle').html(data)
    },'json')   
})
</script>
</block>
<block name="floor">
<!--弹出修改照片框-->
<include file="head_pic_crop"/>
</block>
