@charset "utf-8";
.app-content{width:100%;float:left;position:relative;}
.p1{background:url("../images/app/p1.jpg") no-repeat center top;width:100%;float:left;height: 200px;}
.p2{background:url("../images/app/p2.jpg") no-repeat center top;width:100%;float:left;height: 195px;}
.p3{background:url("../images/app/p3.jpg") no-repeat center top;width:100%;float:left;height: 200px;}
.p4{background:url("../images/app/p4.jpg") no-repeat center top;width:100%;float:left;height: 200px;}
.p5{background:url("../images/app/p5.jpg") no-repeat center top;width:100%;float:left;height: 209px;}
#footer{float:left;margin-top:0px;}
/*按钮区*/
.button-area{width:1048px;position:absolute;left:50%;margin-left:-524px;height:350px;top:385px;}
.button-area a{width:220px;height:60px;font-size:22px;color:#ffffff;display:block;text-align:center;border-radius: 8px;box-shadow:0px 2px 0px 0px rgb( 15, 148, 200 );float:right;background-color:#00acf0;line-height:60px;clear:both;margin-right:88px;text-decoration:none;}
.button-area a.andriod{margin-top:20px;text-decoration:none;}
.code-3D{display:block;float:right;clear: both;margin-right:120px;margin-top:44px;background:url("../images/app/code.png") no-repeat center center;width:144px;height:158px;}
.code-3D img{margin-top:26px;margin-left:10px;}