@charset "utf-8";

input[type="checkbox"].iswitch-lg{
background-color:#bfbfbf;
box-shadow: none;
height:26px;
line-height:26px;

}
input[type="checkbox"].iswitch-lg:before{
box-shadow: none;
height:22px;
}