@charset "utf-8";
.container-screening-paddbottom{padding-bottom:0px;padding-left:0px;}
.Screening_button_area ul li{padding:5px 20px;margin-left:44px;}
.Screening_button_area ul{padding-left:20px;}
.list-area{width:100%;}
.page-list{width:800px;}
.page-list-a{width:58%;}