.fail-resume-right{overflow:inherit;}
.treat-resume-header >p.p3{margin-left:140px;}
.treat-resume-list > .list-left >.date{padding-left:0px;width:130px;}
.treat-resume-list > .list-left{width:580px;}
.treat-resume-header >p.p2{margin-left:125px;}
.treat-resume-list > .list-left > div{padding:0px;}
.treat-resume-list > .list-left >.name{padding:0px;width:290px;}
.list-right >span.first-ms{margin-left:1px;}
.treat-resume-list > .list-right{width:200px;}
.list-right >span.waiting{margin-left:0px;}
.treat-resume-header >p.p5{margin-left:105px;}
.list-right >span.first-ms{border-radius: 0 0 0 0;}
.permit-interview-box >span.waiting-resume{margin-bottom:17px;margin-top:40px;}
.permit-interview-box{right:-8px;}
.waiting-box{right:135px;}
.permit-interview-box >span, .refuse-interview-box >span{margin-top:24px;}
.permit-interview-box >span{margin-top:18px;}
.refuse-interview-box span{line-height: 24px;}
.permit-interview-box span.title{line-height:24px;}
.refuse-interview-box{right:2px;}
.refuse-interview-box span{line-height: 24px;}
.all-choose-area{position:relative;}
.choose-notice{position:absolute;background-color:#33e1d7;width:220px;padding-top:17px;padding-bottom:17px;opacity: 0.8;left:148px;top:30px;z-index:20;}
.choose-notice span{padding-left:28px;font-size:14px;color:#ffffff;}
.position-adjust-1{left:-34px;top: 42px;}
.position-adjust-2{left:126px;top: 42px;}
.position-adjust-3{left:130px;top: 42px;}
