@charset "utf-8";
/* CSS Document */
html,body,div,ul,dl,li,dt,dd,p,form,input,span{margin:0;padding:0; list-style: none;-webkit-appearance: none; outline: none; border: none;}
body{font-size:14px;color:#6d6d6d;background:#00acf0; font-family: "Microsoft Yahei";/* -webkit-tap-highlight-color: rgba(0,0,0,0); */}
img{border:0px;vertical-align:middle;}
body a{text-decoration:none; cursor:pointer;}
a,span,p{ outline: none;}
body a:hover{text-decoration:none;}
*::-webkit-input-placeholder {
font-family: "Microsoft Yahei";
color:#909090;
font-size:14px;
}

*:-moz-placeholder {
font-family: "Microsoft Yahei";
color:#909090;
font-size:14px;
}
*:-ms-input-placeholder {
font-family: "Microsoft Yahei";
color:#909090;
font-size:14px;
}

.fl{float:left;}
.fr{float:right;}
.cl{ clear: both;}

.ipad-wrap{ width: 100%; height: auto; overflow: hidden; max-width: 1200px; margin: 0 auto;}

/* 手机端头部*/
.phone-wrap > .top{ width: 100%; height: 47px; background:#00abf0; line-height: 47px; padding-left: 17px; font-size: 16px;display:block;text-align: center;}
.phone-wrap > .top >a{ color: #ffffff;padding-right:17px;}
.phone-wrap > .top >a img{display:block;float:left;margin-top:15px;}
.phone-wrap > .top >img{ width: 10px; height: 19px;}
/**/
.phone-wrap > .top{ width: 100%; height: 47px; background:#00abf0; line-height: 47px; padding-left: 17px; font-size: 16px;display:block;text-align: center;}
.phone-wrap > .top >a{ color: #ffffff;padding-right:17px;}
.phone-wrap > .top >a img{display:block;float:left;margin-top:15px;}
.phone-wrap > .top >img{ width: 10px; height: 19px;}

/* 手机内容 */
.phone-wrap > .main{ width: 90%; height: auto;margin: 0 auto; overflow: hidden;}

/* 手机登陆 注册 找回密码 等按钮*/
.phone-submit{width: 90%; margin: 0 auto;display: block; height: 40px; transition: .3s;cursor: pointer;color: #f7f7f7;line-height: 40px; border-radius: 5px; font-size: 16px; font-family: "Microsoft Yahei"; margin-top: 40px;text-align: center;background: #00abf0;border: none;outline: none;}
   
/* 手机端弹窗 */   
.succes-box-m{ width: 150px; display: none; height: 140px; border-radius: 5px; background: rgba(0,0,0,0.85); position: fixed; top: 50%; left: 50%; margin-top: -70px; margin-left: -75px;}
.succes-box-m >img { width: 41px; height: 41px; display: block; margin: 34px auto 0;}
.succes-box-m > p{ font-size: 15px; color: #ffffff; line-height: 15px; text-align: center; margin-top: 25px;}
.succes-box-m-big{ width: 200px; height: 160px; margin-top: -80px; margin-left: -100px;}
.succes-box-m-big > p{ line-height: 20px;}

.show{ animation:slideIn 0.3s forwards;-webkit-animation:slideIn 0.3s forwards;}

/* 进场动画 */
@-webkit-keyframes slideIn {
	from {
		opacity: 0;
		margin-top: 50px;
	}
	to {
		opacity: 1;
		margin-top: 0px;
	}
}

@keyframes slideIn {
	from {
		opacity: 0;
		margin-top: 50px;
	}

	to {
		opacity: 1;
		margin-top: 0px;
	}
}

.new-show{ opacity: 1!important;margin-top: 0px !important;}

/* 报错 */
.error-ipad{height: 14px; clear: both; line-height: 14px;  color: #ff5d38;margin-top: -20px; margin-bottom: 20px; font-size: 14px;}
.error-ipad > img{ float: left; margin-left: 18px; margin-right: 3px; width: 14px; height: 14px; display: block;}
.error-ipad > p{ float: left;}
.error-wrap{ width: 470px; height: auto;padding-bottom: 20px; clear: both; position: relative; line-height: 14px; overflow: hidden; margin-top: -20px; }
.error-wrap > .error-left {height: 20px; width: 200px; float: left; line-height: 14px; overflow:hidden;}
.error-wrap > .error-right{height: 20px;width: 233px; float: right; line-height: 14px; overflow:hidden;}
.error-wrap img{ float: left; margin-left: 18px; margin-right: 3px; width: 14px; height: 14px; display: block;}
.error-wrap p{ float: left; color: #ff5d38;}
.error-ipad-new{height: 14px;  width: 450px; margin: 5px auto 0; clear: both; line-height: 14px;  color: #ff5d38; font-size: 14px;}
.error-ipad-new > img{ float: left; margin-right: 3px; width: 14px; height: 14px; display: block;}
.error-ipad-new > p{ float: left;}



/* 报错 框 */
.error-border{ border: 2px solid #ff5d39 !important;}

/* 焦点 */
.focused{ border: 1px solid #00abf0 !important;}



/*  公用头部 */
.header-m{ width: 100%;max-width: 1200px; margin: 0 auto; height: auto;overflow: hidden; z-index: 9999; top: 0;}
.h-top{width: 100%;position: fixed; z-index: 9999; top: 0; height: 70px; background: #00abf0; overflow: hidden;}
.h-left{ width: 9%;height: 70px;position: fixed; cursor: pointer; z-index: 9999; top: 0px;}
.h-left >img { display: block; width: 14px; position: absolute; top: 22.5px; left: 42%;}
.h-center{ position: fixed; left: 9%; z-index: 9999; top: 0; text-align: center; width: 82%;height: 70px; line-height: 70px; color: #ffffff; font-size: 20px;letter-spacing: 2px;font-weight: normal;}
.h-right{ width: 9%;height: 70px;right: 0; top: 0px; cursor: pointer; position:fixed; z-index: 10001;}
.h-right > .bar{ width: 26px; height: 3px;background: #fff;  position: absolute; top: 34px; right: 42%;}
.bar:before{content:''; top: -9px;-webkit-transform-origin: right; transform-origin: right;-moz-transform-origin: right;position: absolute;width: 26px; transition:0.3s;-webkit-transition:0.3s; height: 3px; background: #fff; display: block;}
.bar:after{ content:''; top: 9px;width: 26px;transform-origin: right; -webkit-transform-origin: right; position: absolute; transition:0.3s;-webkit-transition:0.3s; height: 3px; background: #fff; display: block;}
#bar.active:before{transform: rotate(-45deg);-webkit-transform: rotate(-45deg); background: #00abf0;transform-origin: right; -webkit-transform-origin: right;}
#bar.active{ background: none;}
#bar.active:after{transform: rotate(45deg); -webkit-transform: rotate(45deg);background: #00abf0; transform-origin: right; -webkit-transform-origin: right;} 
.h-wrap{width: 100%; height: 100%; z-index: -9999; opacity: 0;transition:0.4s opacity;-webkit-transition:0.4s opacity; background: #000; position: fixed; top: 0; left: 0;}
.h-menu{ width: 300px; height: 100%; transition:0.4s;-webkit-transition:0.4s; top: 0; left: 100%; background: #fff; position: fixed; z-index: 10000;}
.to-left{-webkit-transform: translateX(-300px);transform: translateX(-300px);}

/* 头部小红点 */ 
.h-right > .bar >span{ width: 12px; z-index: 999; height: 12px; background: #ff3c3c; position: absolute; top: -13px; left: -7px; border-radius: 50%; }

.h-right > .bar >img{ display: none;  top: -13px; width: 31px; left: -60px; position: absolute; }
.h-right > .bar >img.mail-show{ display: block !important;}

#h-slide-button .small-red{width: 12px; height: 12px; top: -3px; left: -13px; background: #ff3c3c; position: absolute;border-radius: 50%;}

.nav-slide >a >.small-red{width: 12px; height: 12px; top: 5px; left: -6px; background: #ff3c3c; position: absolute;border-radius: 50%;}


/* 未登录*/
.h-menu .h-login{ width: 270px; margin-left: 30px; height: auto; position: relative; z-index: 10002; margin-top: 35px;}
.h-menu .h-login >img { width: 55px; margin-left: 7px; height: 55px; display: block; border-radius: 50%;}
.h-menu .h-login >.link-login{ margin-top: 20px; margin-left: 6px; height: auto; overflow: hidden;}
.h-menu .h-login >.link-login >a{ font-size: 22px; line-height: 22px; color: #565656;}
.h-line{ width: 100%; height: 1px; background: #d0d0d0; margin-top: 10px;}
.h-nav{ width: 270px; margin-left: 30px; height: auto; overflow: hidden; margin-top: 20px;}
.h-nav >a{ width: 100%; display: block; font-size: 20px; color: #565656; height: 40px; line-height: 40px; padding-left: 9px;}

/* 登陆 */
.h-menu .h-logined{ width: 270px; margin-left: 30px; height: auto; position: relative; z-index: 10002; margin-top: 35px;}
.h-menu .h-logined >img { width: 55px; margin-left: 7px; height: 55px; display: block; border-radius: 50%;}
.h-menu .h-logined >p{ font-size: 22px; -webkit-transition:0.3s;transition:0.3s; margin-bottom: 15px;margin-left: 7px; margin-top: 20px; line-height: 24px; height: 24px; position: relative;}
.h-menu .h-logined >p > span{ float: left;display: block;  margin-right:9px; }
.h-menu .h-logined >p >i{ float: left; display: block; margin-top: 8px;-webkit-transform: rotate(0deg);transform: rotate(0deg);  transition: 0.3s;-webkit-transition: 0.3s;width: 0;  height: 0;border-right: 6px solid transparent;border-left: 6px solid transparent; border-top: 7px solid #909090;}
.h-menu .h-logined >p >i.active{-webkit-transform: rotate(-180deg);transform: rotate(-180deg);}
.h-menu .h-logined >.nav-slide{ width: 100%;-webkit-transition:0.3s;transition:0.3s; padding-left: 7px; height: 0px; overflow: hidden; }
.nav-slide >a{ width: 100%; position: relative;  height: 40px; font-size: 16px; line-height: 19px; color: #565656; margin-top: 5px; display: block;}
.nav-slide >span{color: #909090;margin-bottom: 16px;display: block;}
.nav-slide >a >img{ display: block; float: left; width: 19px; height: 19px; margin-right: 10px; margin-top: 10px;}
.nav-slide >a > p{ float: left; line-height: 19px; margin-top:10px;font-size:16px;font-family:"微软雅黑";color:#565656;}
.nav-slide >a > span{ position: absolute; top: 35px; left: 0px;  font-size: 12px; color: #909090;}
.nav-slide >a > p >span{ color: #909090;}
.nav-slide >a > p >span >i{ color: #ff8a00; font-style: normal;}
.h-h{ width: 100%; height: 70px;}

/* 加号头部 */
.add-header{ width: 90%; padding:0 5%; height: 70px; overflow: hidden; position: relative; background: #00abf0;}
.add-header > img{ position: absolute;}
.add-header > .add-l{ top: 22.5px; left: 5%; cursor: pointer;}
.add-header > .add-r{ top: 23.5px; right: 5%; cursor: pointer;}
.add-header > .add-c{ width: 280px; height: 40px; margin: 15px auto; border-radius: 5px; border: 1px solid #ffffff; box-sizing:border-box;-weblit-box-sizing:border-box;}
.add-header > .add-c >li{ width: 50%; height: 38px; text-align: center; float: left; line-height: 38px; font-size: 18px; color: #fff;}
.add-header > .add-c >li:first-child{ border-right:1px solid #fff;box-sizing:border-box;-weblit-box-sizing:border-box;}
.add-header > .add-c >li.active{ background: #f2fbff; color: #00abf0;}
.add-header > p{ text-align: center; line-height: 70px; color: #fff; font-size: 24px;}
.add-header > .edit{ position: absolute; right: 5%; display: none; font-size: 18px; line-height: 18px; cursor: pointer; top: 14.5px; color: #ffffff; }


/* ipad外层 */
.ipad-wrap-public{width: 84%;height: auto;overflow: hidden;border: 1px solid #dddddd;padding: 0 5% 200px;margin: 20px auto;background: #fff;}

/* ipad title部分 */
.ipad-title-public{ width: 100%; height: auto; margin-top: 30px; position: relative; overflow: hidden;}
.ipad-title-public > span{ display: block; float: left;}
.ipad-title-public > span.title-font{ font-size: 20px; position: relative; z-index: 10; background: #fff; padding-right: 7px; color: #00acf0; line-height: 20px;}
.ipad-title-public > span.title-line{ width: 100%; position: absolute; height: 1px; background: #00acf0; margin:11px 10px 0 10px;}
.ipad-title-public > span.title-close{ float: right;position: relative; margin-top: 0px; z-index: 10; padding-left: 7px; background: #fff; }
.ipad-title-public > span.title-close >i{ padding-left: 5px; font-style: normal; font-size: 14px; color: #909090;}

/* ipad 输入框 下拉框  */
.ipad-input-box-wrap{ width: 450px; margin: 0 auto; height: auto; position: relative;}
.ipad-input-box-wrap > .div-wrap{ width: 450px; padding-left: 20px; cursor: pointer; position: relative; margin-top: 30px; border-radius: 5px; border:2px solid #f0f0f0; background:#f6f6f6; height: 42px; line-height: 42px; -webkit-box-sizing:border-box; box-sizing:border-box;}
.ipad-input-box-wrap > .div-wrap >p{ font-size:14px; color: #909090;}
.ipad-input-box-wrap > .div-wrap >i.ipad-triangle{position: absolute;transition: 0.6s;-webkit-transition: 0.6s;-webkit-transform: rotate(0deg);transform: rotate(0deg);top: 17px;right: 10px;width: 0;height: 0;border-right: 6px solid transparent;border-left: 6px solid transparent;border-top: 7px solid #909090;}
.ipad-triangle.active{-webkit-transform: rotate(-180deg) !important;transform: rotate(-180deg) !important;}

/* 时间下拉 */
.time-slide{top:40px; right: 0;width: 288px;  z-index: 999; height: 258px;position: absolute; background: #ffffff; border-radius: 5px; border: 2px solid #00abf0;}
.time-slide > .title{  width: 100%; height: 40px; font-size: 16px; color: #565656; border-top-right-radius: 5px; border-top-left-radius: 5px; line-height: 40px;  background: #f4f4f4; border-bottom: 1px solid #e1e1e1;}
.time-slide > .title >span{ padding:9px 17px; line-height: 16px;}
.time-slide > .title >span:last-child{ color: #909090;}
.time-slide > .time-slide-wrap{ width: 100%; position: relative; height: 180px; margin-top: 20px; overflow: hidden;}
.time-slide > .time-slide-wrap >p{ width: 100%; position: absolute;top: 60px; height: 30px; background: rgba(244,244,244,1)}
.time-slide > .time-slide-wrap >ul{ width:96px; height: auto;position: relative; z-index: 2; list-style: none;float: left; }
.time-slide > .time-slide-wrap >ul >li{ width: 100%; position: relative; z-index: 2; height: 30px; font-size: 16px; color: #909090; line-height: 30px; text-align: center;}
.time-slide > .time-slide-wrap >ul >li.active{ color: #565656;}
#time-year{ margin-top: -840px;}

/* ul下拉 */
.ul-slide{visibility: visible; left: 0px; top:40px; z-index: -10; opacity: 0;  background: #fff; width: 448px; height: auto; max-height: 242px; overflow: auto; position: absolute;  border-radius: 5px; border: 2px solid #00abf0;}
.ul-slide >li{ width: 428px; padding-left: 20px; height: 30px; line-height: 30px; color: #909090; font-size: 16px;}

/* input输入框 */
.ipad-input-public{height: 42px;font-size: 14px;font-family: "Microsoft Yahei";color: #909090; display: block; margin: 30px auto 0; width: 430px; position: relative;line-height: 42px;color: #909090;padding-left: 20px;font-size: 14px;background: #f6f6f6;border: 2px solid #f0f0f0;border-radius: 5px;}

/* ipad 保存 */
.save-ipad-wrap-public{ width: 450px; display:none; height: auto; margin: 40px auto 0; }
.save-ipad-wrap-public >a{ display: block; float: left; width: 100px; background: #dadada; font-size: 18px; color: #ffffff; height: 42px; border-radius: 5px; text-align: center; line-height: 42px;}
.save-ipad-wrap-public >a:first-child{ margin: 0 20px 0 112px; background: #00abf0;}
.next-ipad-wrap{width: 450px;margin: 30px auto 0; overflow: hidden;}
.next-ipad-wrap >a{ display:block; float: left; background: #dadada; border-radius: 5px;height: 42px;color: #fff; font-size: 18px;line-height: 42px;text-align: center;}
.next-ipad-wrap >a:first-child{ width: 325px;background: #00abf0;}
.next-ipad-wrap >a:last-child{ width: 100px; float: right;}

/* ipad-visible */
.visible-public{ visibility: visible; top: -5000px; position: absolute; z-index: -11;}

/* 手机影藏 */
.phone-wrap{ display:none;}

/* 手机端外框 */
.phone-tab-wrap{ margin-top: 20px; display:none;}
.iphone-wrap-public{width: 90%; height: 40px; transition:.3s; overflow: hidden; margin: 0 5%;border:1px solid #dddddd; border-radius: 5px; box-sizing:border-box; -webkit-box-sizing:border-box;}
.iphone-wrap-public > .iphone-div-wrap{width: 100%; height: 40px; position: relative; background: #fff; border-bottom: 1px solid #e8e8e8; line-height: 40px;}
.iphone-wrap-public > .iphone-div-wrap:last-child{border-bottom:none;}
.iphone-div-wrap > span.title-iphone{ padding-left: 4%; color: #565656; font-size: 14px;}
.iphone-div-wrap > span.delete-phone{ float: right; margin-right: 16px;color: #ff2525; font-size: 12px; display:none;}
.iphone-div-wrap > span.title-time{ float: right; margin-right: 16px; font-size: 13px; color: #565656;}
.iphone-div-wrap > span.title-time >img{ width: 6px; height: 9px;  margin-left: 5px;}
.iphone-div-wrap > .iphone-wrap-left{ width: 35%; font-size: 14px; color: #909090; padding-left: 4%;}
.iphone-div-wrap > .iphone-wrap-right{ width: 61%; height: 100%; position: relative;}
.iphone-div-wrap > .iphone-wrap-right >a{ display: block; color:#bfbfbf; font-size: 15px;  height: 40px;}
.iphone-div-wrap > .iphone-wrap-right >.button-right{ top: 16px; right: 16px; width: 6px; height: 9px; display: block; position: absolute;}
.iphone-div-wrap > .iphone-wrap-right >.error-img{ display: block; width: 12px; height: 12px;position: absolute; top: 13px; right: 30px; cursor: pointer;}
.iphone-div-wrap > .iphone-wrap-right >.error-input{ color: #ff5d39 !important;}
.iphone-div-wrap > .iphone-wrap-right >.clear { display: none; position: absolute; width: 13px; height: 13px; top: 13px; right: 15px; cursor: pointer;}
.iphone-div-wrap > .iphone-wrap-right >input{ height: 40px; font-size: 13px; color: #565656; font-family: "Microsoft Yahei";width: 80%; line-height: 40px; background: none;}
.to65{ color: #565656 !important;}


.wrap-height{ height: auto;border:1px solid #00abf0;}
.wrap-height > div >.delete-phone{ display:block;}
.wrap-height > div >.title-time{ display:none;}

.wrap-height1{ height: auto;}
.wrap-height1 > div >.delete-phone{ display:block;}
.wrap-height1 > div >.title-time{ display:none;}

/* 手机 保存 */
.save-cancel-phone-public{ width: 90%;margin: 30px auto;display: none; overflow: hidden; height: 42px;}
.save-cancel-phone-public >a{ width: 48%; border-radius: 5px; color: #fff; font-size: 15px; background: #00abf0; height: 42px; line-height: 42px; text-align: center; display: block; float: left;}
.save-cancel-phone-public >a:last-child{ background: #dadada; margin-left: 4%;}
.next-phone-wrap{ width: 90%; margin: 30px auto; overflow: hidden;}
.next-phone-wrap >a{ display:block; float: left; color: #fff; border-radius: 5px;height: 42px; line-height: 42px; text-align: center;font-size: 15px;}
.next-phone-wrap >a:first-child{ width: 73%; background: #00abf0;}
.next-phone-wrap >a:last-child{ width: 22%; background: #dadada; float: right;}


 /*手机时间下拉*/
.time-silde-iphone-wrap{ width: 100%; height: 100%;z-index: 99999;opacity: 0.5; background: #000; position: fixed;top: 0;  left: 0;}
.time-slide-phone{position: fixed; z-index: 100001; bottom:-258px; left:0; width: 100%;/* transition: 0.4s bottom;-webkit-transition: 0.4s bottom;  */ height: 258px;background: #ffffff;  border: 1px solid #bfbfbf;}
.time-slide-phone > .title{  width: 100%; height: 40px; font-size: 16px; color: #565656;  line-height: 40px;  background: #f4f4f4; border-bottom: 1px solid #e1e1e1;}
.time-slide-phone > .title >span{ width: 17%; height: 40px; text-align: center; line-height: 40px;}
.time-slide-phone > .title >span:last-child{ color: #909090;}
.time-slide-phone > .time-phone-wrap{ width: 100%; position: relative; height: 180px; margin-top: 20px; overflow: hidden;}
.time-slide-phone > .time-phone-wrap >p{ width: 100%; position: absolute;top: 60px; height: 30px; background: rgba(244,244,244,1)}
.time-slide-phone > .time-phone-wrap >ul{ width:33.3%; height: auto;position: relative; z-index: 2; list-style: none;float: left; }
.time-slide-phone > .time-phone-wrap >ul >li{ width: 100%; position: relative; z-index: 2; height: 30px; font-size: 16px; color: #909090; line-height: 30px; text-align: center;}
.time-slide-phone > .time-phone-wrap >ul >li.active{ color: #565656;}


/* 新开窗口 */
.box-phone-public{position: fixed; overflow: hidden; display: block; z-index: 100001; width: 100%; height: 100%; background: #eef2f4; top: 10000px; left: 0;}
.box-phone-public > .box-title-public{ text-align: center; position: relative; width: 100%; font-size: 18px; color: #ffffff;height: 47px; line-height: 47px; background:#00abf0; }
.box-phone-public > .box-title-public > a{  width: 50px; height: 45px; position:absolute; display: block; top: 0; left: 0;}
.box-phone-public > .box-title-public > a > img { position: absolute; left: 17px;top: 13px;width: 12px;}
.box-phone-public > .box-top-phone { width: 100%; padding-left: 15px; font-size: 13px; color: #909090; height:35px; line-height: 35px; background:#eef2f4; }
.box-phone-public > .div-wrap-public{ width: 100%; height: auto; overflow: hidden;}
.box-phone-certificate{display: block;}
.div-wrap-public > .ul-list-phone{ width: 100%; height: auto; overflow: hidden;}
.div-wrap-public > .ul-list-phone >li{ height: 40px; line-height: 40px;background: #fff; border-bottom: 1px solid #f5f5f5;}
.div-wrap-public > .ul-list-phone >li >a{padding-left: 15px; border-radius: none; width: 100%; height: 100%; display: block; color: #565656; font-size: 14px; }
















@media all and (min-width:768px) and ( max-width: 992px){

}

@media ( max-width: 767px){
	.h-top{ height: 47px;}
	.h-center{ height: 47px; line-height: 47px; font-size: 18px;}
	.h-h{ height: 47px;}
	.h-left{ height: 47px;}
	.h-right{ height: 47px;}
	.h-left >img{ top: 13px; width: 12px; left: 49%;}
	.h-right > .bar{ top: 22px;}
	.h-right > .bar{ width: 22px; height: 2px; right: 49%;}
	.bar:before{ width: 22px; height: 2px; top: -8px;}
	.bar:after{ width: 22px; height: 2px; top: 8px;}
	
	/* .to-left{-webkit-transform: translateX(-100%);transform: translateX(-100%);}
	.h-menu .h-logined{ width: 90%; margin-left: 10%;}
	.h-menu .h-login{ width: 90%; margin-left: 10%;} */

	.add-header{ height: 47px;}
	.add-header > .add-c{ width: 64%; height: 30px; margin-top: 9px;}
	.add-header > .add-c >li{ width: 50%; height: 28px; font-size: 13px; line-height: 28px;}
	.add-header > .add-l{ width: 12px; top: 13px;}
	.add-header > .add-r{ width: 15px; top: 13.5px;}
	.add-header > p{ font-size: 18px; line-height: 47px;}
	.phone-wrap{ display: block;}
	.ipad-wrap{ display: none;}

}




























































































































