@charset "utf-8";
.login-logo{
    margin:0 auto;
    width:780px;
    height:60px;
    background:url("../images/logo.png") no-repeat left center;
    position:absolute;
    top:97px;
    left:50%;
    margin-left:-390px;
    z-index:4;
 }
.login-form{
    width:780px;
    height:530px;
    background-color:#ffffff; 
    border-radius: 8px;
    padding-bottom:40px;
    position:absolute;
    top:165px;
    left:50%;
    margin-left:-390px;
    position:relative;
    box-shadow: 0px 2px 2px 0px rgb( 221, 221, 221 );
}
.login-form-header{
    background-color:#def4ff;
    width:100%;
    height:181px;
    margin-top:0px;
    border-radius: 5px 5px 0 0;
    position:absolute;
    top:0px;
}
.tab{
    border-radius:8px;
}
.backpassword_content{
    width:518px;
    position:absolute;
    top:100px;
    left:50%;
    margin-left:-259px;
    border-radius:8px;
}
.backpassword-button{
   width:100%;
   letter-spacing:1px;
   display:block;
  
   margin:0 auto;
 
}
.confirm-button{
   width:40%;
   clear:both;
   margin-top:40px;
}
.pager>li>a{
   width:100%;
   border-radius: 5px;
   background-color: rgb( 99, 205, 255 );
   height: 42px;
   font-size:18px;  
   margin-top:12px;
   letter-spacing:2px;
   color: rgb( 255, 255, 255 );
   line-height: 30px;
   text-align: center;
   margin-bottom:10px;
   margin-left:auto;
   margin-right:auto;
   border:none;
   display:block;
   transition:ease-in-out 0.3s
}
.pager>li>a:hover{background: #34B9F7;}
.container-content{
   margin: 0 auto;
   width:100%;
    
}
.content-button{
 margin-top:40px;


}
.input-group-style{
    float:left;
    margin-top:19px;
    border:1px solid #e9e9e9;
    border-radius:5px;
    -webkit-transition: border-color ease-in-out .3s;
    -o-transition: border-color ease-in-out .3s;
    transition: border-color ease-in-out .3s;
}
.form-group{
    float:left;
    margin-bottom:0px;
    width:100%;
}
.form-control{
    height:40px;
    border-radius: 4px;
    color:black;
    border-left:none;
    -webkit-transition: border-color ease-in-out .0s;
    -o-transition: border-color ease-in-out .0s;
    transition: border-color ease-in-out .0s;
}

.form-control:focus{
    border:none;
    box-shadow: none;
}

.input-group-addon{
    background:none;
    outline:none;
    font-size:16px;
    color:#c0c0c0;
    border-radius: 4px;
    box-shadow: none;

}
.input-group.input-group-minimal.focused .input-group-addon{
    border:none;
    outline:none;
}
.input-group.input-group-minimal .input-group-addon{
    background:#fff;
    -webkit-transition: border-color ease-in-out .0s;
    -o-transition: border-color ease-in-out .0s;
    transition: border-color ease-in-out .0s;
    border:none;
}
.input-group.input-group-minimal .input-group-addon + .form-control{
    border:none;
}
.input-group-style:focus{
    border-color:#76e0ff;
}
.error-border{
    border: 1px solid #ff5d38;
}
.focused{
    border:1px solid #76e0ff;
    border-radius: 5px;
}
.form-wizard > .tabs > li.completed >a>span{

    color:#3ec0fe;

}
.form-wizard > .tabs > li >a>span{
    font-size:16px;
    background:#ffffff;
} 
/*进度条颜色*/
.form-wizard > .progress-indicator > span{
    background:#2ab7eb;

}
.form-wizard > .tabs > li{
    background:none;

}
.form-wizard > .tabs > li>a:hover{
    background:none;
}
.form-wizard > .tabs > li >a>span{
    font-size:24px;
    padding-top:4px;

}
.form-wizard > .tabs > li.completed{
    background:none;

}
.resend-mail{
    width:40%;
    margin:0 auto;
    font-size:14px;
    margin-top:30px;
}
.resend-mail a{
    text-decoration:underline;
    color:#09a2d5;
    margin-left:15px;
    
    }
.with-bg{
     margin-top:30px;
}
.form-wizard .pager{
    margin-top:62px;
}
.with-bg h3{
    font-size:20px;
    color:#999999;
    text-align: center;
    margin-top:37px;
   
}
.returnpassword-area{
   margin-top:110px; 

}

.returnpassword-form{
    width:60%;
    text-align:center;
    margin:0 auto;
   
}
.login-form{top:-50px;}
#reset-success-step3{
      width:186px;
      position:absolute;
      top:75px;
      left:50%;
      margin-left:-93px;
      text-align:center;
      color:#999999;
      display:none;
}
#reset-success-step3 h3{
      font-size:26px;
       margin-top:40px;
}
#reset-success-step3 p{
      font-size:14px;
      margin-top:30px;

}
#reset-success-step3 p a{
     color:#0bbbea;
     margin-left:10px;
     margin-top:50px;
}

.returnpassword-form{
 width:218px;
}
.input-group-style{
 width:418px;
}
.margin20{
margin-left:30px;
}
.form-wizard > .tabs > li + li{
    border-left: 1px solid #def4ff;
}
.backpassword-button{
   width:213px;
   letter-spacing:1px;
   display:block;
   margin:0 auto;
}
.with-bg h3{
    font-size:20px;
    color:#656565;
    text-align: center;
    margin-top:13px; 
}
.resend-mail{
    width:40%;
    margin:0 auto;
    font-size:14px;
    margin-top:20px;
}
div#fwv-3,.margin15{
margin-top:15px;
}
.confirm-button-area {
  padding-top: 122px;
}
.confirm-button{
   width:213px;
   clear:both;
   margin-top:30px;
}
.form-wizard > .tabs > li >a>span:first-child{
  border-radius:5px 5px 0 0;

}
.form-wizard > .tabs > li + li{
    border-left: 2px solid #def4ff;
}
#reset-success-step3{top:120px;}
#reset-success-step3 p{margin-top:44px;}
#get-li2{width: 213px;margin:0 auto;}
@media screen and (min-width:1440px){
    #footer{
        position:static;
        top:100%;
    }
}
@media screen and (min-width:1620px){
    #footer{
        position:absolute;
        top:100%;
    }
}
@media screen and (max-width:1280px){
    #footer{
        position:static;
       
    }
}