<extend name="Public:base" />
<block name="title"><title>高顿实习</title></block>
<block name="right-main">
				<div class="col-md-6">
					
					<!-- Default panel -->
					<div class="panel panel-default"><!-- Add class "collapsed" to minimize the panel -->
						<div class="panel-heading">
							<h3 class="panel-title">我的个人信息</h3>
							
							<div class="panel-options">
								<a href="#">
									<i class="linecons-cog"></i>
								</a>
								
								<a href="#" data-toggle="panel">
									<span class="collapse-icon">–</span>
									<span class="expand-icon">+</span>
								</a>
								
								<a href="#" data-toggle="reload">
									<i class="fa-rotate-right"></i>
								</a>
								
								<a href="#" data-toggle="remove">
									×
								</a>
							</div>
						</div>
						
						<div class="panel-body">
							
							<p>上次登录时间：2015年04月07日</p>
							<p>上次登录IP：120.204.253.14 </p>
			
						</div>
					</div>
					
				</div>
				<div class="col-md-6">
					
					<!-- Default panel -->
					<div class="panel panel-default"><!-- Add class "collapsed" to minimize the panel -->
						<div class="panel-heading">
							<h3 class="panel-title">系统研发团队</h3>
							
							<div class="panel-options">
								<a href="#">
									<i class="linecons-cog"></i>
								</a>
								
								<a href="#" data-toggle="panel">
									<span class="collapse-icon">–</span>
									<span class="expand-icon">+</span>
								</a>
								
								<a href="#" data-toggle="reload">
									<i class="fa-rotate-right"></i>
								</a>
								
								<a href="#" data-toggle="remove">
									×
								</a>
							</div>
						</div>
						
						<div class="panel-body">
							
							<p>高顿职业发展项目部</p>
							<p>产品、交互、设计、前端、开发</p>
			
						</div>
					</div>
					
				</div>
</block>
<block name="right-second">
				<div class="row">
				
				<div class="col-md-6">
					
					<!-- Bordered + shadow panel -->
					<div class="panel panel-default panel-border panel-shadow"><!-- Add class "collapsed" to minimize the panel -->
						<div class="panel-heading">
							<h3 class="panel-title">信息系统</h3>
							
							<div class="panel-options">
								<a href="#">
									<i class="linecons-cog"></i>
								</a>
								
								<a href="#" data-toggle="panel">
									<span class="collapse-icon">&ndash;</span>
									<span class="expand-icon">+</span>
								</a>
								
								<a href="#" data-toggle="reload">
									<i class="fa-rotate-right"></i>
								</a>
								
								<a href="#" data-toggle="remove">
									&times;
								</a>
							</div>
						</div>
						
						<div class="panel-body">
							
							<p>操作系统：linux(CentOS6.5) </p>
							<p>服务器软件：Nginx/1.6  PHP/5.3.5 </p>
							<p>MySQL 版本：v5.0.37-community-nt</p>
						</div>
					</div>
					
				</div>
			</div>
</block>