<div id="footer">
    <div class="footer">
       <div class="footer-l">
            <p>高顿云巢 © 2016 All rights reserved</p>
            <p>沪ICP备14038153号</p>
        </div>
        <span></span>
        <div class="footer-c">
              <p><a href="/Index/about" target="_blank">产品和服务</a><a href="/Index/contact" target="_blank">联系我们</a><a href="www.gaodun.com" target="_blank">高顿网校</a></p>
       
        </div>
        <span></span>
   <div class="footer-r">
            <div class="wechat-img"><img src="__PUBLIC__/static/images/h-t/wechat-img.png"></div>
            <div class="wechat">
                <p>扫一扫   加关注 <img src="__PUBLIC__/static/images/h-t/wechat-icon.png"></p>
                <p>服务号：云巢</p>
            </div>
        </div>
    </div>
</div>