@charset "utf-8";

body{ background: #f4f4f4;}
*::-webkit-input-placeholder {
color:#a5a5a5;
font-size:16px;
letter-spacing: 1px;
}

*:-moz-placeholder {
color:#a5a5a5;
font-size:16px;
letter-spacing: 1px;
}
*:-ms-input-placeholder {
color:#a5a5a5;
font-size:16px;
letter-spacing: 1px;
}





.ipad-wrap{ width: 100%; max-width: 1200px; margin: 0 auto; height: auto; overflow: hidden;}

/* 时间下拉 */
.time-slide{top:40px; right: 0; width: 288px;  height: 258px;position: absolute; background: #ffffff; border-radius: 5px; border: 1px solid #bfbfbf;}
.time-slide > .title{  width: 100%; height: 40px; font-size: 16px; color: #656565; border-top-right-radius: 5px; border-top-left-radius: 5px; line-height: 40px;  background: #f4f4f4; border-bottom: 1px solid #e1e1e1;}
.time-slide > .title >span{ padding:9px 17px; line-height: 16px;}
.time-slide > .title >span:last-child{ color: #a5a5a5;}
.time-slide > .time-slide-wrap1{ width: 100%; position: relative; height: 180px; margin-top: 20px; overflow: hidden;}
.time-slide > .time-slide-wrap1 >p{ width: 100%; position: absolute;top: 60px; height: 30px; background: rgba(244,244,244,1)}
.time-slide > .time-slide-wrap1 >ul{ width:96px; height: auto;position: relative; z-index: 2; list-style: none;float: left; }
.time-slide > .time-slide-wrap1 >ul >li{ width: 100%; position: relative; z-index: 2; height: 30px; font-size: 16px; color: #a5a5a5; line-height: 30px; text-align: center;}
.time-slide > .time-slide-wrap1 >ul >li.active{ color: #656565;}

.time-slide{top:40px; right: 0;width: 288px;  height: 258px;position: absolute; background: #ffffff; border-radius: 5px; border: 1px solid #bfbfbf;}
.time-slide > .title{  width: 100%; height: 40px; font-size: 16px; color: #656565; border-top-right-radius: 5px; border-top-left-radius: 5px; line-height: 40px;  background: #f4f4f4; border-bottom: 1px solid #e1e1e1;}
.time-slide > .title >span{ padding:9px 17px; line-height: 16px;}
.time-slide > .title >span:last-child{ color: #a5a5a5;}
.time-slide > .time-slide-wrap3{ width: 100%; position: relative; height: 180px; margin-top: 20px; overflow: hidden;}
.time-slide > .time-slide-wrap3 >p{ width: 100%; position: absolute;top: 60px; height: 30px; background: rgba(244,244,244,1)}
.time-slide > .time-slide-wrap3 >ul{ width:96px; height: auto;position: relative; z-index: 2; list-style: none;float: left; }
.time-slide > .time-slide-wrap3 >ul >li{ width: 100%; position: relative; z-index: 2; height: 30px; font-size: 16px; color: #a5a5a5; line-height: 30px; text-align: center;}
.time-slide > .time-slide-wrap3 >ul >li.active{ color: #656565;}

.time-slide{top:40px; right: 0;width: 288px;  height: 258px;position: absolute; background: #ffffff; border-radius: 5px; border: 1px solid #bfbfbf;}
.time-slide > .title{  width: 100%; height: 40px; font-size: 16px; color: #656565; border-top-right-radius: 5px; border-top-left-radius: 5px; line-height: 40px;  background: #f4f4f4; border-bottom: 1px solid #e1e1e1;}
.time-slide > .title >span{ padding:9px 17px; line-height: 16px;}
.time-slide > .title >span:last-child{ color: #a5a5a5;}
.time-slide > .time-slide-wrap4{ width: 100%; position: relative; height: 180px; margin-top: 20px; overflow: hidden;}
.time-slide > .time-slide-wrap4 >p{ width: 100%; position: absolute;top: 60px; height: 30px; background: rgba(244,244,244,1)}
.time-slide > .time-slide-wrap4 >ul{ width:96px; height: auto;position: relative; z-index: 2; list-style: none;float: left; }
.time-slide > .time-slide-wrap4 >ul >li{ width: 100%; position: relative; z-index: 2; height: 30px; font-size: 16px; color: #a5a5a5; line-height: 30px; text-align: center;}
.time-slide > .time-slide-wrap4 >ul >li.active{ color: #656565;}
#time-year{ margin-top: -840px;}


/* 手机  */
/* 证书状态 */
.iphone-div-wrap > .iphone-wrap-right >.iphone-certificate{ float: left; height: 40px; overflow: hidden; line-height: 40px;}
.iphone-div-wrap > .iphone-wrap-right >.iphone-certificate > span:first-child{ width: 13px; overflow: hidden; margin-top: 11px; height: 13px; line-height: 13px; text-align: center; border-radius: 50%; border: 1px solid #dbdbdb; margin-right: 4px; display: block; float: left;}
.iphone-div-wrap > .iphone-wrap-right >.iphone-certificate > span:last-child{ margin-right: 34px;}
.iphone-div-wrap > .iphone-wrap-right >.iphone-certificate > span >i{ width: 6px; height: 6px; display: block; border-radius: 50%; margin-top: 4px; margin-left: 4px;}
.iphone-div-wrap > .iphone-wrap-right >.iphone-certificate > span >i.active{ background: #63cdff;}


.iphone-wrap-right >input::-webkit-input-placeholder {
font-family: "Microsoft Yahei";
color:#cbcaca;
font-size:13px;
letter-spacing: 1px;
}

.iphone-wrap-right >input:-moz-placeholder {
font-family: "Microsoft Yahei";
color:#cbcaca;
font-size:13px;
letter-spacing: 1px;
}
.iphone-wrap-right >input:-ms-input-placeholder {
font-family: "Microsoft Yahei";
color:#cbcaca;
font-size:13px;
letter-spacing: 1px;
}


@media all and (min-width:992px) {
	
}

@media all and (min-width:768px) and ( max-width: 992px){
     
}

@media ( max-width: 767px){
	.phone-wrap{ display: block;}
	.ipad-wrap{ display: none;}
}

@media ( max-width: 414px){
}

@media ( max-width: 320px){
}





