<extend name="Public:base" />
<block name="title"><title>高顿实习</title></block>
<block name="right-main">
					<div class="col-md-12">
				
					<div class="panel panel-default">
						<div class="panel-heading">
							<h3 class="panel-title">学生列表</h3>
							
							<div class="panel-options">
								
								<a href="#" data-toggle="panel">
									<span class="collapse-icon">&ndash;</span>
									<span class="expand-icon">+</span>
								</a>
								
							</div>
						</div>
						<div class="panel-body">
									<div class="form-group">
									<div class="row">
									<div class="col-md-9">
									<form action="/index.php?s=/Admin/Student/index" method="post">
									<label class="control-label" for="field-1" style="padding-top:5px;float:left;margin-right:8px;">查询:</label>
										<input type="text" class="form-control" id="field-1" placeholder="请输入姓名或邮箱" style="width:35%;float:left;margin-right:8px;" name="w" value="{$word}">
                                        <button class="btn btn-warning" style="float:left;">搜索</button>
                                    </form>
								</div>	
									<div class="col-md-3">
									  	   <div class="row">
									   <div class="col-md-10">
									 <button class="btn btn-red" style="float:right;" onclick="javascript:location.href='/index.php?s=/Admin/Student/add';">增加学员</button>   
				</div>			
                               <div class="col-md-2">
                               </div>
                                </div>		   
									
									</div>
									
								</div>
									</div>
							<div class="table-responsive" data-pattern="priority-columns" data-focus-btn-icon="fa-asterisk" data-sticky-table-header="true" data-add-display-all-btn="true" data-add-focus-btn="true">
									
								
								<table cellspacing="0" class="table table-small-font table-bordered table-striped">
									<thead>
										<tr>
											
											<th data-priority="1">ID</th>
											<th data-priority="6">登录邮箱</th>
								            <th data-priority="6">姓名</th>
											<th data-priority="1">性别</th>
											<th data-priority="3">最高学历</th>
											<th>专业</th>
											<th data-priority="6">是否认证</th>
											<th data-priority="6">联系手机</th>
											<th data-priority="6">注册时间</th>
											<th data-priority="6">操作</th>
											<th data-priority="6">帐号设置</th>
										</tr>
									</thead>
									<tbody>


			                             <notempty name="studentlist">
			                             <foreach name="studentlist" item="studentItem">
			                             	<tr>
											<td>{$studentItem.pkid}</td>
											<td>{$studentItem.login_email}</td>
											<td>{$studentItem.name}</td>
											<td>
												<if condition="$studentItem.gender eq 1">
													男
												<elseif condition="$studentItem.gender eq 2"/>
													女
												<else/>
													未知
												</if>
											</td>
											<td>{$studentItem.education}</td>
											<td>{$studentItem.detail_major}</td>
                                            <td>{$studentItem.email_verify}</td>
											<td>{$studentItem.contact_mobile}</td>
											<td>{$studentItem.create_time}</td>
											<td>
												<a href="/index.php?s=/Admin/Student/edit/id/{$studentItem.pkid}" class="btn btn-secondary btn-sm btn-icon icon-left">
													查看
												</a>
											</td>
                                                <td>
                                                    <a href="/index.php?s=/Admin/Student/reset/id/{$studentItem.pkid}"
                                                       class="btn btn-success btn-sm btn-icon icon-left">
                                                        修改密码
                                                    </a>
                                                </td>
			                             	</tr>
			                             	</foreach>			                             	
			                             <else/>
			                             		<tr>
			                             			<td colspan="9">暂无数据</td>
			                             		</tr>
										</notempty>

									</tbody>
								</table>
								<div class="row">
								<div class="col-md-12" style="text-align:right;">
										{$page}
							</div>
							</div>
							
							</div>	
							
						</div>
					
					</div>
				</div>
</block>