<extend name="Public:base" />
<block name="title"><title>高顿实习</title></block>
<block name="right-main">
    <div class="col-sm-12">

        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">增加福利标签</h3>
                <div class="panel-options">
                    <a href="#" data-toggle="panel">
                        <span class="collapse-icon">&ndash;</span>
                        <span class="expand-icon">+</span>
                    </a>
                </div>
            </div>
            <div class="panel-body">

                <form role="form" class="form-horizontal" action="/index.php?s=/Admin/Welfare/save" method="post">

                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="field-1">福利标签名称：</label>

                        <div class="col-sm-2">
                            <input type="text" name="title" class="form-control" id="field-1">
                            <span id="error" style="color: #ff2f32;display: none"></span>
                        </div>
                    </div>

                    <div class="form-group" style="padding-top:10px;">

                        <div class="col-sm-12" style="margin:auto text-align:center;">
                            <div class="container" style="width:145px;">
                                <button type="submit" class="btn btn-turquoise">保存</button>
                                <button type="button" class="btn btn-red"
                                        onclick="javascript:location.href='/index.php?s=/Admin/Welfare/index'">返回
                                </button>
                            </div>

                        </div>
                    </div>

                </form>

            </div>
        </div>

    </div>
</block>
<block name="script">
    <script>
        $(function(){
            $('form').submit(function(){
                var parm = $(this).serialize();
                var bool = true;
                $.ajax({
                    type: "post",
                    async:false,
                    url: "/index.php?s=/Admin/Welfare/checkMessage",
                    dataType:"json",
                    data: parm,
                    success: function(msg){

                        if(msg.title){
                            $('#error').show();
                            $('#error').html('*'+msg.title);
                            bool = false;
                        }
                    },
                    error:function(){}
                });
                return bool;
            });
        })
    </script>
</block>