<extend name="Public:base" />
<block name="title"><title>高顿实习</title></block>
<block name="right-main">
<div class="col-md-12">
				
					<div class="panel panel-default">
						<div class="panel-heading">
							<h3 class="panel-title">校内职务列表</h3>
							
							<div class="panel-options">
								
								<a href="#" data-toggle="panel">
									<span class="collapse-icon">–</span>
									<span class="expand-icon">+</span>
								</a>
								
							</div>
						</div>
						<div class="panel-body">
									<div class="form-group">
									<div class="row">
									<div class="col-md-9">
									<form action="/index.php?s=/Admin/SchoolJob/index" method="post">
									<label class="control-label" for="field-1" style="padding-top:5px;float:left;margin-right:8px;">查询:</label>
										<input type="text" class="form-control" id="field-1" placeholder="请输入关健词" style="width:35%;float:left;margin-right:8px;" name="w" value="{$word}">
                                        <button class="btn btn-warning" style="float:left;">搜索</button>
								</div>	
									<div class="col-md-3">
									   <div class="row">
									   <div class="col-md-10">
									 <a class="btn btn-red" style="float:right;" href='/index.php?s=/Admin/SchoolJob/add'>增加校内职位</a>   
				</div>			
								</form>
                               <div class="col-md-2">
                               </div>
                                </div>		  
									</div>
									
								</div>
									</div>
							<div class="table-responsive" data-pattern="priority-columns" data-focus-btn-icon="fa-asterisk" data-sticky-table-header="true" data-add-display-all-btn="true" data-add-focus-btn="true">
									
								
								<table cellspacing="0" class="table table-small-font table-bordered table-striped">
									<thead>
										<tr>
											
											<th data-priority="1">ID</th>
											<th data-priority="6">职务名称</th>
								            <th data-priority="6">职务描述</th>
											<th data-priority="1">添加时间</th>
											<th data-priority="3">更新时间</th>
										
											<th data-priority="6">操作</th>
										</tr>
									</thead>
									<tbody>
						    			<notempty name="schooljob">
												
												<foreach name="schooljob" item="jobItem">
													<tr>
														<td>{$jobItem.pkid}</td>
														<td>{$jobItem.title}</td>
														<td>{$jobItem.description|str_cut=###,40}</td>
														<td>{$jobItem.create_time}</td>
														<td>{$jobItem.modify_time}</td>
														<td>
															<a href="/index.php?s=/Admin/SchoolJob/edit/id/{$jobItem.pkid}" class="btn btn-secondary btn-sm btn-icon icon-left">修改</a>
															<a href="/index.php?s=/Admin/SchoolJob/delete/id/{$jobItem.pkid}" class="btn btn-danger btn-sm btn-icon icon-left">删除</a>
														</td>
													</tr>
												</foreach>
						    			<else/>
						    			<tr>
						    				<td colspan="6">暂无数据</td>
						    			</tr>
						    			</notempty>
									</tbody>
								</table>
								<div class="row">
								<div class="col-md-12" style="text-align:right;">
									{$page}
							</div>
							</div>
							</div>
						</div>
					</div>
				</div>
</block>